body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0d0d0d, #001f3f, #00bfa6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

header {
  padding-top: 150px;
  padding-bottom: 10px;
}

.logo-codex {
  width: 110px;
  height: auto;
  display: block;
  margin: 20px auto 0;
  border-radius: 30px;
}

.form-login {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  backdrop-filter: blur(10px);
}

.titulo-form {
  text-align: center;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

input:focus {
  outline: 2px solid #00b4db;
}

.btn-login {
  padding: 12px;
  background: linear-gradient(90deg, #00b4db, #0083b0);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-login:hover {
  background: #004b7a;
}

@media (max-width: 480px) {
  .form-login {
    padding: 20px;
    max-width: 90%;
  }

  input,
  .btn-login {
    font-size: 14px;
  }
}

@media (min-width: 1380px) {
  header {
    padding-top: 20px;
  }

  .form-login {
    gap: 12px;
  }
}
